# File Upload API
# VITE_API_UPLOAD_URL=https://staging-api-file-upload.epic-trip-planner.com/upload-url
VITE_API_UPLOAD_URL=https://staging.epic-trip-planner.com/upload-url

# Cognito Configuration
VITE_AWS_COGNITO_USER_POOL_API_ENDPOINT=https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_xxxxxx
VITE_AWS_HOSTED_COGNITO_LOGIN_DOMAIN=https://xxxxxxxx.auth.eu-central-1.amazoncognito.com
VITE_AWS_COGNITO_CLIENT_ID=xxxxxxx
VITE_AWS_COGNITO_REDIRECT_URI=https://staging.epic-trip-planner.com

# API Configuration
VITE_API_GW_BACKEND_ENDPOINT=https://staging-backend-api.epic-trip-planner.com